section {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 22px;
}

h1 {
  font-family: var(--fonte-principal);
  color: var(--cor-laranja);
  font-size: 36px;
}

h4 {
  font-family: var(--fonte-principal);
  font-size: 26px;
  padding-left: 5px;
  padding-top: 10px;
}

.container-login {
  background-color: var(--cor-laranja);
  color: var(--cor-branca);
  display: flex;
  justify-content: space-between;
  width: 82%;
  height: 70vh;
}

.input-login {
  padding: 0 185px 10px 0;
  margin: 0 0 0 5px;
  border: #BEB2B2 solid 2px;
}

.texto-login {
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  margin: 10px 0 0 5px;
}

.login-recuperacao {
  display: flex;
  padding-top: 2px;
  margin-left: 5px;
}

.link-esqueceu-senha {
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  color: var(--cor-branca);
  font-size: 16px;
  padding: 0 0px 0 85px;
}

.lembrar-login {
  display: flex;
  font-family: var(--fonte-secundaria);
  color: var(--cor-branca);
  font-size: 16px;
}

.link-lembrar-login {
  margin-left: 5px;
}

.fazer-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  margin-top: 80px;
  gap: 10px;
}

.fazer-login-entrar {
  color: #060606;
  text-decoration: none;
  background-color: var(--cor-branca);
  padding: 1px 50px;
}

.fazer-login-conta {
  color: var(--cor-branca);
  text-decoration: none;
}

.login-imagem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 200px 0 0;
}

.imagem-login {
  margin-bottom: 20px;
}

.texto-imagem {
  font-family: var(--fonte-principal);
  font-size: 16px;
}

.texto-imagem-maior {
  font-size: 20px;
  border-bottom: 5px solid #ffffff;
}

.imagem-engranagem {
  padding-left: 1340px;
}

