<section>
  <h1>Login</h1>
  <div class="container-login">
    <div class="login-credenciais">
      <h4>Insira Credenciais</h4>
      <p class="texto-login">Usuario</p>
      <input type="text" class="input-login">
      <p class="texto-login">Senha</p>
      <input type="text" class="input-login">
        <div class="login-recuperacao">
          <div class="lembrar-login">
            <input type="checkbox" id="senha">
            <label for="senha">
              <p class="link-lembrar-login">Lembrar Login</p>
            </label>
          </div>
          <a href="#" class="link-esqueceu-senha">Esqueceu a Senha?</a>
        </div>
        <div class="fazer-login">
          <a href="#" class="fazer-login-entrar">Entrar</a>
          <a href="#" class="fazer-login-conta">Criar uma conta</a>
        </div>
    </div>
    <div class="login-imagem">
      <img src="../../../../assets/images/levantamento-de-peso 4.svg" class="imagem-login" alt="desenho de mulher levantando peso">
      <p class="texto-imagem texto-imagem-maior">Bem-vindo</p>
      <p class="texto-imagem">Entre e acesse todo contéudo que temos <br>
         no site para te beneficiar naqueles <br>
         treinos da semana
      </p>
    </div>
  </div>
</section>
<a href=""><img src="../../../../assets/images/engrenagem (1) 1.svg" alt="imagem de engranagem" class="imagem-engranagem"></a>
