.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-laranja);
  font-family: var(--fonte-principal);
  color: var(--cor-branca);
  font-size: 24px;
  height: 15vh;
}

.container-titulo {
  display: flex;
}

.container-crowd {
  margin: 0 0 0 22px;
}

.container-lista {
  display: flex;
  list-style: none;
  font-size: 18px;
}

.lista-menu {
  margin: 0 100px 0 0;
}

.lista-link {
  color: var(--cor-branca);
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}
