<header class="container-header">
  <div class="container-titulo-total">
    <div class="container-titulo">
      <h2>Gym</h2>
      <img src="../../../assets/images/academia (1) 6.svg" alt="imagem de alteres">
    </div>
    <h2 class="container-crowd">Crowd</h2>
  </div>
  <ul class="container-lista">
    <li class="lista-menu"><a href="#" class="lista-link">Inicio</a></li>
    <li class="lista-menu"><a href="#" class="lista-link">Clientes</a></li>
    <li class="lista-menu"><a href="#" class="lista-link">Nossos Serviços</a></li>
    <li class="lista-menu"><a href="#" class="lista-link">Contratar</a></li>
    <li class="lista-menu"><a href="#" class="lista-link">Login</a></li>
  </ul>
</header>
